<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Parking</title>
	</head>
	<body>
		<header>
			<nav class="navbar__container">
				<ul class="navbar__list">
					<li class="navbar__item navbar__item--main">
						<a class="navbar__link">
							<span class="navbar__icon"><i></i></span>
						</a>
					</li>

					<li class="navbar__item">
						<a class="navbar__link">
							<span class="navbar__icon"><i class="fas fa-home"></i></span>
							<span class="navbar__text">Inicio</span>
						</a>
					</li>

					<li class="navbar__item">
						<a class="navbar__link">
							<span class="navbar__icon"><i class="fa fa-pencil-square-o"></i></span>
							<span class="navbar__text">Registrar</span>
						</a>
					</li>

					<li class="navbar__item">
						<a class="navbar__link">
							<span class="navbar__icon"><i class="fas fa-hourglass"></i></span>
							<span class="navbar__text">Historial</span>
						</a>
					</li>
				</ul>
			</nav>
		</header>
		<script src="https://kit.fontawesome.com/c8e4d183c2.js" crossorigin="anonymous"></script>
	</body>
</html>
